.publishtask {
  .el-upload-list__item{
    width: 400px;
  }
    .searchTitle{
      font-size: 17px;
      color: rgba(255, 255, 255, 0.712);
      a{
        color: white;
      }
      }
    margin: 0 auto;
    margin-bottom: 50px;
    .module_headerCrumb{
      margin: 20px 0 0px 0;
    }
    .module_headerCrumb .searchTitle a:hover {
      color: #ddd
    }
    .publish{
      text-align: center;
    }
    &::after {
      content: "";
      clear: both;
      display: table;
    }
    .el-table .cell {
      white-space: pre-line;
    }
    .header_h {
      border-bottom: 1px solid #ebeef5;
      padding: 20px;
    }
    .el-form-item__label {
      font-size: 16px;
      white-space: pre-line;
    }
    .box-card0 {
      padding: 20px 20px 20px 20px;
      width: 100%;
      margin: 40px auto;
    }
    .box-card2 {
      width: 25%;
      float: right;
      margin-top: 20px;
      span {
        font-size: 18px;
      }
    }
    .text span {
      margin-left: 5px;
      font-size: 14px;
    }
    
    .item {
      margin-bottom: 10px;
    }
    .clearfix span{
      font-size: 15px;
      font-weight: 600;
    }
    .clearfix:before,
    .clearfix:after {
      display: table;
      content: "";
    }
    .clearfix:after {
      clear: both;
    }
    .el-input__inner{
      background:rgb(251,251,251);
    }
    .el-textarea__inner{
      background:rgb(251,251,251);
    }
    .el-card__header{
      padding:10px 20px 8px;
      background:rgb(251,251,251)
    }
  }